*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}
/*nav*/
.navbar{
    position: fixed;
    width: 100%;
    padding: 30px 0;
   z-index: 999; 
    font-family: 'ubuntu',sans-serif;
    transition: all 0.3s ease;
}
/* scrolling*/
.scrolling-active{
    padding: 15px 0;
    background-color: crimson;
}
.scrolling-active .navbar .logo a span{
    color: #fff;
    
}
/*scrolling end*/
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{ 
    color: #fff;
    font-size: 18px;
    font-weight: 500px;
    margin-left: 25px;
    transition: color 0.3s ease;
}

/* for hover*/
.navbar .menu li a:hover{
    color: crimson;
}
.navbar .logo a span{
   color: crimson;
    transition: all 0.3s ease;
}
/* home*/

.home{
    display: flex;
    background: url("7971.jpg") no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    font-family: 'ubuntu',sans-serif;
    background-size: cover;
    background-attachment: fixed;
}
.home .max-width{
    margin: auto 40;
}
.home .home-content .t1{
    font-size: 27px;
}
.home .home-content .t2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .t3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .t3 span{
    color: crimson;
    font-weight: 500px;
}


/*about */
section{
    padding: 100px 0;
}
.about{
    font-family: 'poppins',sans-serif;
}
.about .title{
    position: relative;
    text-align: center;
    font-family: 'ubuntu', sans-serif;
    font-size: 40px;
    font-weight: 500px;
    margin-bottom: 60px;
    padding-bottom: 20px;
}
.about .max-width .title::before{
    content: "";
    position: absolute;

    left: 42%;
    bottom: 50%;
    top: 90%;
    width: 183px;
    height: 4px;
    background: #111;
}
.about .title::after{
    content: "who i am";
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 5px;
    background-color: #fff;
    transform: translateX(-50%);
}

.about .about-content .letf img{
    
    height:400px;
    width: 400px;
    object-fit: cover;
}
img{
    height:400px;
    width: 300px;
    object-fit: cover;
    
    
    border-radius: 12px;
}